.body-index {
  background-color: #000000;
  min-height: 100vh;
  color: black;
  margin: 0;
  padding: 0;
  position: relative;
}

.top-container{
  position: relative;
  padding-top:100px;
  background-color: #000000;
}

.jellyfish1{
  margin-left: 80px;
  text-align: center;
}

h2 {
  margin-top: 50px;
  font-family: 'Mitr',sans-serif;
  text-align: center;
  font-size: 2.625rem;
  color: #fff;
}
h3{
  font-family: 'Noto Sans Thai',sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #fff;
}
h4{
  font-family: 'Noto Sans Thai',sans-serif;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 30px;
  color: #000000;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}
 /* body {
  margin: 0;
}
body{
  margin: 0;
  text-align: center;
  font-family: Big Caslon,serif;
} */
